.c-card{

	&__image{
		img{
		}
	}

	&__content{
	}

	&__primary{}

	&__secondary{
	}

	&__desc{
	}

	* + &__job,
	* + &__location{
	}
	
	& + &{
		border-inline-start: none;
	}

	&:nth-of-type(-n+3){
		border-block-start: 1px solid currentColor;
	}
	
	&:nth-of-type(3n+1){
		border-inline-start: 1px solid currentColor;
	}

	&--fellow{
		.c-card__image{
			img{}
		}

		.c-card__content{}
	}
}