.c-card{

	&__image{
		img{
		}
	}

	&__content{
	}

	&__primary{}

	&__secondary{
	}

	&__desc{
	}

	&__nav{
		a{
			&[rel=prev]{}
			&[rel=next]{}
		}
		
		&__index{}
	}

	* + &__job,
	* + &__location{
	}
	
	& + &{
		border-inline-start: none;
	}

	&:nth-of-type(-n+3){
		border-block-start: 1px solid currentColor;
	}
	
	&:nth-of-type(3n+1){
		border-inline-start: 1px solid currentColor;
	}

	&--fellow{
		.c-card__image{
			img{}
		}

		.c-card__content{}
	}

	&--single-fellow{
		&:nth-of-type(1){
			border-width: 2px;
		}
		
		* + .c-card__job{}
	}
}