.c-grid{
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: var(--grid-gap); */
    
    /* &[data-cols="2"]{
        grid-template-columns: 1fr 1fr;
    }

    &--news{}

    &--team{
        margin-block-start: 0;
    }

    &--footer{
        gap: var(--grid-gap);
    } */
}