.c-cols{
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* gap: var(--grid-gap); */

    /* &[data-template="0-2"]{
        grid-template-columns: 
            [col-1-start] 1fr [col-1-end] 
            var(--grid-gap) 
            [col-2-start] 1fr var(--grid-gap) 1fr [col-2-end];

        > .col1{
            grid-column: col-1;
        }

        > .col2{
            grid-column: col-2;
        }
    }
    
    &[data-template="0-2-fr"]{
        grid-template-columns: 
            [col-1-start] 1fr [col-1-end] 
            var(--grid-gap) 
            [col-2-start] 1fr var(--grid-gap) 1fr var(--content-side-padding) [col-2-end];

            > .col1{
            grid-column: col-1;
        }
        
        > .col2{
            grid-column: col-2;
        }
    } */
    
    &[data-template="1-2"]{
        /* grid-template-columns: 
            [col-1-start] 1fr [col-1-end] 
            var(--grid-gap) 
            [col-2-start] 1fr var(--grid-gap) 1fr [col-2-end];
        
        > .col1{
            grid-column: col-1;
        }

        > .col2{
            grid-column: col-2;
        } */

        /* grid-template-columns: .7228fr 1.2772fr; */            /* 412px 728px in 1200 container*/
        grid-template-columns: minmax(0,.7228fr) minmax(0,1.2772fr);            /* 412px 728px in 1200 container*/
    }
    
    /* &[data-template="1-2-fr"]{
        grid-template-columns: 
            [col-1-start] 1fr [col-1-end] 
            var(--grid-gap) 
            [col-2-start] 1fr var(--grid-gap) 1fr var(--content-side-padding) [col-2-end];

        > .col1{
            grid-column: col-1;
        }

        > .col2{
            grid-column: col-2;
        }
    }

    &[data-template="2-0"]{
        grid-template-columns: 
            [col-1-start] 1fr var(--grid-gap) 1fr [col-1-end]
            var(--grid-gap) 
            [col-2-start] 1fr [col-2-end];

        > .col1{
            grid-column: col-1;
        }
    } */

    &[data-template="2-1"]{
        /* grid-template-columns: 
            [col-1-start] 1fr var(--grid-gap) 1fr [col-1-end]
            var(--grid-gap) 
            [col-2-start] 1fr [col-2-end];

        > .col1{
            grid-column: col-1;
        }

        > .col2{
            grid-column: col-2;
        } */

        /* grid-template-columns: 1.2772fr .7228fr; */            /* 728px 412px in 1200 container*/
        grid-template-columns: minmax(0,1.2772fr) minmax(0,.7228fr);            /* 728px 412px in 1200 container*/
    }
    
    /* &[data-template="2-1-fr"]{
        grid-template-columns: 
        [col-1-start] 1fr var(--grid-gap) 1fr [col-1-end] 
        //[col-1-start] 1fr var(--grid-gap) [col-1-end] 
        var(--grid-gap) 
        [col-2-start] 1fr var(--content-side-padding) [col-2-end];

        > .col1{
            grid-column: col-1;
        }

        > .col2{
            grid-column: col-2;
        }
	} */
}