.c-guide{
	/* * + .button{
		margin-block-start: 1.125rem;
	} */

	&__image{
		/* img{
			display: block;
			width: 100%;
			//height: 12.75rem;
			object-fit: cover;
			aspect-ratio: 206/183;		// aspect-ratio for 412x366
		} */
		img{
			display: block;
			max-width: 100%;
		}
	}

	&__desc{
		> * + *{
			margin-block-start: 1em;
		}

		/* * + &{
			margin-block-start: 1.125rem;
		} */
	}

	/* &__button{} */

	/* * + &{
		margin-block-start: clamp(3rem,9.375vw,8.4375rem);
	} */

	> * + *{
		margin-block-start: 1.5rem;
	}
}

//Mobile first: Small breakpoint imports larger breakpoints
/*@include small {
    @import 'small';
}*/

/* @include medium {
    @import 'medium';
} */

/*@include large {
    @import 'large';
}
@include xlarge {
    @import 'xlarge';
}
@include xxlarge {
    @import 'xxlarge';
}*/
